<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Verse</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Verse connects to your private reader service to refresh editions and sync feedback.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Regular.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>Fraunces-Bold.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Lora-BoldItalic.ttf</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
